# Ignore everything except the JAR file
target/*
!target/*.jar

# Ignore version control files
.git
.gitignore

# Ignore IDE/editor configs
.idea
.vscode
*.iml

# Ignore build tools
.gradle
build/

# Logs and temp files
*.log
*.tmp