#!/bin/bash

echo "CREATING DOCKER SECRETS FOR PRODUCTION ENVIRONMENT..."

# ADMIN
docker secret create admin_password "xxx"

# DATABASE
docker secret create db_root_password "xxx"
docker secret create db_user_password "xxx"

# GOOGLE OAUTH2
docker secret create google_client_id "xxx"
docker secret create google_client_secret "xxx"

# JWT
docker secret create jwt_access_token_key "xxx"
docker secret create jwt_refresh_token_key "xxx"
docker secret create jwt_password_reset_token_key "xxx"

# STRIPE
docker secret create stripe_secret_key "xxx"
docker secret create stripe_webhook_key "xxx"

# EMAIL
docker secret create email_app_password "xxx"

# CURRENCY
docker secret create currency_api_key "xxx"

# OPENAI
docker secret create openai_secret_key "xxx"

# CLOUDINARY
docker secret create cloudinary_cloud_name "xxx"
docker secret create cloudinary_api_key "xxx"
docker secret create cloudinary_api_secret "xxx"

echo "DOCKER SECRETS SUCCESSFULLY CREATED !!!"